h1{
    color: black;  
    text-align: center; 
}
#h{
    background-color: skyblue;
}
#a{
    margin-left: 50px;
}
#b{
    margin-left: 5px;
}
#add{
    margin-left: 620px;
    width: 200px;
}
#del{
    margin-left: 620px;
    width: 200px;
}
#spoiler{
    display: none;
}
#table{
    background-color: skyblue;
}
#saveEdit{
    margin-left: 250px;
}